.contactUsContainer {
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 13vh;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;

    /* background-color: #546cdf; */

}
.contactUsTitleHolder {
    /* color: #000000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    flex: 0.5;
    /* color: #fff; */
}
.contactz {
    /* background-color:pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contactz > p {
    font-weight: bold;
    font-size: 15px;
}
.spanOne{
    background-image: linear-gradient(104deg , #3ed4c9, #3dc8eb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.imgContact {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    display: none;
}

.titleContent {
    /* color: white; */
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}
.formContainer {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: white;
    padding: 25px;
    /* height: 90%; */
}
.formStyle {
    width: 100%;
}
.formStyle > label {
    color: #000000;
    margin-top: 20px;
}

.formStyle > input,
.formStyle > textarea {
    border-radius: 0 !important;
    width: 100%;
}
.contactUsButton {
    background-color: black !important;
    color: white !important;
    width: 100%;
    outline: none !important;
    border: none !important;
    margin-top: 20px !important;
    border-radius: 0 !important;
}

@media only screen and (min-width: 769px) {
    .contactUsTitleHolder {
        flex: 0.9;
        padding-right: 50px;
    }
    .formContainer {
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        background-color: white;

    }
    .contactUsContainer {
        flex-direction: row;
        /* height: 830px; */
        padding-left: 40px;
        padding-right: 40px;
        height: 100vh;
    }
    .formStyle > label {

        margin-top: 30px;

    }
    .formStyle > input,
    .formStyle > textarea {
        padding: 25px !important;
    }
    .contactUsButton {
        margin-top: 30px !important;
        padding: 15px !important;
    }

    .imgContact {
        width: 200px;
        height: 200px;
        display: block;
    }
    .titleContent {
        /* color: white; */
        text-align: center;
        margin-top: 15px;
        margin-bottom: 55px;
    }
}
