.hamburger{
    width: 40px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
   
}
.hamburger:focus{
    outline: none;
}
.hamburger .hamLine:nth-child(2){
    width: 50%;
}
.hamLine{
    font-size: 60px;
    color: #ffffff; 
    
}