.sidebar{
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 200px;
    background-color: #C5926A;
    left: 0;
    top: 0;
    box-shadow: 1px 0 7px #c5926a83;
    z-index: 200;
    transform: translateX(-100%);
    transition: all 0.1s ease-out;
    z-index: 20000000;
}
.sidebar.open{
    transform: translateX(0);
    
}
.sidebarHeader{
    display: flex;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    flex: 0.1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.logo{
    padding-top: 19px;
    color: #4C5270;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.cross{
    color: #4C5270;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 5px;
}
.sidebar > ul {
    display: flex;
    height: 250px;
    width: 150px;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 10px;
}

.sidebar > ul > li {
   list-style-type: none;
   
}
.sidebar > ul > li > a{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
}
.socialMediaContainer{
    margin-top: 100px;
    display: flex;
    width:60%;
    justify-content: space-between;
    align-items: center;
}

.solmedia{
    font-size: 22px;
    color: #000;
}
.solmedia:hover{
    color: #4C5270;
}
.sidebar > ul > li> a:hover, 
.sidebar > ul > li> a:active {
    color: #4C5270;
    text-decoration: none;

}
.sidebar > ul > li > a {
    color: #000000;
}

@media screen and (min-width: 984px){
    .sidebar{
        display: none;
    }
}
