.sidebar{
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 200px;
    background-color: #ddbea9;
    left: 0;
    top: 0;
    box-shadow: 1px 0 7px rgba(255, 255, 255, 0.205);
    z-index: 200;
    transform: translateX(-100%);
    transition: all 0.1s ease-out;
    z-index: 20000000;
}
.sidebar.open{
    transform: translateX(0);
    
}
.sidebarHeader{
    display: flex;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.logo{
    padding-top: 18px;
    color: #000;
}
.cross{
    color: #000000;
    font-size: 15px;
    cursor: pointer;
    margin-top: 15px;
}
.sidebar > ul {
    display: flex;
    height: 350px;
    width: 150px;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 10px;
}

.sidebar > ul > li {
   list-style-type: none;
}
.sidebar > ul > li > a{
    text-decoration: none;
}

.sidebar > ul > li> a:hover, 
.sidebar > ul > li> a:active {
    color: white;
    text-decoration: none;

}
.sidebar > ul > li > a {
    color: #000;
}

@media screen and (min-width: 984px){
    .sidebar{
        display: none;
    }
}
