.mainpageContainer{
    position: relative;
    width: 100vw;
    display: flex;
    background: transparent;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    background-size: cover;
    justify-items: center;
    padding-top: 20px;
} 
.topContainer{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height:90vh;
    /* margin-top: 13vh; */
    
}

.caroContainer{
    position: relative;
    /* padding-top: 30px; */
    /* margin-top: 8px; */
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: hidden;
    /* padding-left: 200px; */
    
}
.ourPic{
    width:100%;
    height: auto;
    display: flex;
    /* padding-right: 5000px; */
    
}
.ourPic > img{
    min-width:1000px !important;
    width:100%;
    height: 800px;
}
.secondPart{
    height:500px;
    width: 100vw;
    /* background-color: #29A0B1; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondPart > div {
    /* width:400px; */
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.contentForUs{
    position: absolute;
    z-index: 1000;
    /* background-color: #29A0B1; */
    max-width: 600px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    top: 28%;
    left: 50px;
}

.contentForUs > h1{
    /* font-family: 'Poppins', serif; */
    /* font-family: 'Open Sans', sans-serif; */
    /*font-family: 'Heebo', sans-serif;*/
    font-family: 'Istok Web', sans-serif;
    font-weight: bold;
    /* font-family: 'Titillium Web', sans-serif; */
    letter-spacing: 8px;
    /* margin-bottom: 20px; */
    color: #ffffff;
    /* color: #000; */
    font-size: 50px;
    line-height: 70px;

    
}
.contentForUs > p{
    font-size: 25px;
    color: #000000;
    /*font-family: 'Play Display', sans-serif;*/
    font-family: 'Istok Web', sans-serif;
    margin-bottom: 20px;
}
.btnexplore{
    border: 2px solid #000000 !important;
    background-color: #000000 !important;
    color: #ffffff !important;
    margin-top: 10px !important;
    padding: 10px 50px !important
}
.btnexplore:hover{
    background-color: transparent !important;
    color: #ffffff !important;
}

.targetDesc{
    font-size: 17px !important;
    color: #ffffff !important;
}

.secondPart > div > h1 {
    background-image: linear-gradient(104deg , #3ed4c9, #3dc8eb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

@media only screen and (max-width: 980px){
    .contentForUs > h1{
        letter-spacing: 8px;
        font-size: 40px;
        line-height: 60px;
        
    }
    .contentForUs > p{
        font-size: 20px;
        color: #000000;
        /*font-family: 'Play Display', sans-serif;*/
        font-family: 'Istok Web', sans-serif;
        margin-bottom: 20px;
    }
    
    .targetDesc{
        font-size: 15px !important;
        color: #ffffff !important;
    }
    .contentForUs{
        width: 400px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        top: 28%;
        left: 50px;
    }
    
    .ourPic > img{
        min-width:1000px !important;
        width:100%;
        height:800px;
    }
}

@media only screen and (max-width: 572px){
    .contentForUs{
        top: 33%;
        left: 0;
        padding: 0 30px;
        width: 100%;
    }
    .contentForUs > h1{
        letter-spacing: 8px;
        font-size: 30px;
        line-height: 40px;
        
    }
    .contentForUs > p{
        font-size: 20px;
       
    }
    
    .targetDesc{
        font-size: 12px !important
    }
    .btnexplore{
        padding: 10px 25px !important
    }
}

.waveAnimate{
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: -10px;
    letter-spacing: 0;
    overflow: hidden;
  }
  
  .wave{
    background: url('../../assets/wave.svg') repeat-x;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.54) infinite;
    transform: translate3d(0,0,0);
    z-index: 10000000;
  }
  .wave1{
    position: absolute;
    background: url('../../assets/wave.svg') repeat-x;
    width: 6400px;
    height: 198px;
    transform: translate3d(0,0,0); 
    top: 10px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.54) -0.125s infinite, swell 7s ease -1.25s  infinite;
    opacity: 1;
    z-index: 10000000;
  }
  @keyframes wave{
    0%{
      margin-left: 0;
    }
    100%{
      margin-left: -1600px;
    }
  }

/* @media only screen and (max-width: 435px){
    .contentForUs{
        width: 300px;
        top: 33%;
        left: 12%;
    }
} */

@media only screen and (max-width: 281px){
    .contentForUs{
        top: 22%;
        /* left: 12%; */
    }
}