.homepageContainer{
    position: relative;
    width: 100vw;
    display: flex;
    background: transparent;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    /* padding-top: 100px; */
    background-size: cover;
    justify-items: center;
}
.homeTitle{
    padding-top: 200px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    height:auto;
}
.thisContains{
    /* margin-top: -10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.thisContains > h1{
    font-family: 'Istok Web', sans-serif;
    font-weight: bold;
    background-image: linear-gradient(104deg , #3ed4c9, #3dc8eb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 12px;
    margin-bottom: 20px;
    font-size: 10rem;
    line-height: 70px;
}

.titleContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 0.52;
    height: 100%;
    padding: 0 90px;
    /* background: url('../../assets/bgCool.svg') no-repeat right; */
    /* background-color: yellow; */
}

.targetDesc{
    font-size: 17px !important;
    color: gray !important;
}
.thisContains > p{
    font-size: 25px;
    color: #000000;
    
    /*font-family: 'Play Display', sans-serif;*/
    font-family: 'Istok Web', sans-serif;
    margin-bottom: 20px;
}

.imgRepresentUs{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    flex:0.7;
    height: 100%;
    margin-top: -60px;
    /* background-color: aqua; */
} 
.caroContainer{
    height:100% !important;
    width: 100% !important;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.ourPic > img {
    width: 100%;
    height: 100%;
}
.ourPic{
    width: 100%;
    height: 520px;
    padding-left: 50px;
    transition: opacity 0.8s ease-in-out !important;
}
a{
    text-decoration: none !important;
}
.btnexplore{
    border: 2px solid #29A0B1 !important;
    /* background-color: # !important; */
    color: gray !important;
    margin-top: 10px !important;
    padding: 10px 50px !important
}



.btnexplore:hover{
    background-color: #29A0B1 !important;
    color: #ffffff !important;
}

.secondPart{
    height:1000px;
    width: 100%;
    background-color: #29A0B1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondPart > div {
    width:400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
