.navBar{
    position: relative;
    display: flex;
    color: #000000;
    background-color:#7371fc;
    height: 13vh;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;
    z-index: 20000;
    backdrop-filter: blur(10px);
}

.hamHolder{
    flex: 1;
    font-size: 20px !important;
    color: white !important;
}

.goHam-enter{
    opacity: 0;
    transform: scale(0.9);
}
.goHam-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.goHam-exit {
    opacity: 1;
}
.goHam-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}
.navBarHolder{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.header__navigation{
    display: none;
}
.header__navigation > ul > a{
    text-decoration: none;
}
.img_container{
    height: 100%;
    width: 100px;
    display: none;
    transition: all 0.5 ease-in-out;
}
.header__logo{
    width: 100px;
    height: 100%;
    background-color: #000000;
}
.navbarLogo{
    padding: 15px !important;
    color: #fff !important;
    font-size: 20px !important;
    letter-spacing: 3px;
    /* margin-top: 15px; */
    font-weight: 600;
    /* margin-right: 20px; */
}

.astroCLogo{
    width: 220px;
    height: 100%;
}
@media only screen and (max-width: 685px){
    .navbarLogo{
        padding: 15px 0 !important;
        font-size: 15px !important;
        letter-spacing: 2px;
    }
    .navBar{
        height: 8vh;
    }
    .astroCLogo{
        width: 130px;
        height: 100%;
    }
}

@media screen and (min-width: 915px){

    .astroCLogo{
        width: 250px;
        height: 100%;
    }

    .header__navigation{
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding-top: 16px; */
        /* padding-left: 20px; */
        margin-right: 30px;
        z-index: 10000000;
    }
    .header__navigation > ul > a{
        margin: 0 15px;
        color: #000000;
    }
    .header__navigation > ul > a:hover{
        color: gray;
        transition: all 0.1s ease-in;
        text-decoration: none;
    }
    .hamHolder{
        display: none;
    }
    .img_container{
        display: block;
        flex: 1;
    }

    .navBar{
        display: flex;
    }
    
}